Email Address : raiyanashrafi2003@gmail.com

In [1]:
# You must run this code and use that data set for all the questions
import numpy as np
import pandas as pd

np.random.seed(42)

ids = np.arange(1, 11)
ages = np.random.randint(18, 60, 10)
salaries = np.random.randint(30000, 90000, 10)
departments = np.array(["HR", "IT", "Finance", "IT", "HR", "Sales", "Finance", "IT", "Sales", "HR"])

DF = pd.DataFrame({
"id": ids,
"age": ages,
"salary": salaries,
"dept": departments
})

DF.to_csv("employees.csv", index=False)
print("Sample Data Created and Saved as employees.csv")

Sample Data Created and Saved as employees.csv

## **Answer to the Question no : 01**

In [5]:
age_array = np.array(ages)
salaries_array = np.array(salaries)
print(age_array.dtype, age_array.ndim , age_array.shape, age_array.size)
print(salaries_array.dtype, salaries_array.ndim , salaries_array.shape, salaries_array.size)

int64 1 (10,) 10
int64 1 (10,) 10

## **Answer to the Question no : 02**

In [6]:
print("Highest Salary : ", np.max(salaries_array))
print("Lowest Salary : " , np.min(salaries_array))
print("Average Salary : " , np.mean(salaries_array))
print("Average Age : " , np.mean(age_array))

Highest Salary :  89735
Lowest Salary :  30769
Average Salary :  57446.9
Average Age :  38.5

## **Answer to the Question no : 03**

In [7]:
age_over_30 = age_array[age_array>30]
print("Ages greater than 30 : " , age_over_30)
print("Number of people over 30 : " , len(age_over_30))

Ages greater than 30 :  [56 46 32 38 56 36 40]
Number of people over 30 :  7

## **Answer to the Question no : 04**

In [8]:
new_age = age_array + 5
print("Updated Age : " , new_age)

Updated Age :  [61 51 37 30 43 61 41 45 33 33]

## **Answer to the Question no : 05**

In [9]:
print("Total Salary Expense : " , np.sum(salaries_array))
print("Difference : " , np.max(salaries_array) - np.min(salaries_array))

Total Salary Expense :  574469
Difference :  58966

## **Answer to the Question no : 06**

In [11]:
df = pd.read_csv("employees.csv")
print(df.head())
print(df.info())
print(df.describe())

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      10 non-null     int64
 1   age     10 non-null     int64
 2   salary  10 non-null     int64
 3   dept    10 non-null     object
dtypes: int64(3), object(1)
memory usage: 452.0+ bytes
None
             id       age        salary
count  10.00000  10.00000     10.000000
mean    5.50000  38.50000  57446.900000
std     3.02765  11.16791  24357.262884
min     1.00000  25.00000  30769.000000
25%     3.25000  29.00000  33152.500000
50%     5.50000  37.00000  58556.500000
75%     7.75000  44.50000  76426.000000
max    10.00000  56.00000  89735.000000

## **Answer to the Question no : 07**

In [12]:
print(df[["id", "age", "salary"]].tail(3))

   id  age  salary
7   8   40   86101
8   9   28   32433
9  10   28   35311

## **Answer to the Question no : 08**

In [17]:
it_employees = df[df["dept"] == "IT"]
print(it_employees)
print()
print("Total IT Employees:", len(it_employees))

   id  age  salary dept
1   2   46   74131   IT
3   4   25   71090   IT
7   8   40   86101   IT

Total IT Employees: 3

## **Answer to the Question no : 09**

In [19]:
top_3 = df.sort_values( "salary", ascending=False).head(3)
print(top_3[["id", "dept", "age", "salary"]])

   id     dept  age  salary
6   7  Finance   36   89735
7   8       IT   40   86101
0   1       HR   56   77191

## **Answer to the Question no : 10**

In [22]:
df.loc[df["salary"] > 80000, "salary"] = 80000
print(df)
print()
print("Updated Average Salary:", df["salary"].mean())

   id  age  salary     dept
0   1   56   77191       HR
1   2   46   74131       IT
2   3   32   46023  Finance
3   4   25   71090       IT
4   5   38   31685       HR
5   6   56   30769    Sales
6   7   36   80000  Finance
7   8   40   80000       IT
8   9   28   32433    Sales
9  10   28   35311       HR

Updated Average Salary: 55863.3